/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-container{
    position: fixed;
}
/* Style for the header */
header {
    background-color: #333; /* Dark background color */
    color: #fff; 
}

/* Style for the navigation bar */
.navbar {
    display: flex; /* Make the navbar items display in a row */
    justify-content: space-between; /* Spread the items horizontally */
    align-items: center;
    margin: auto auto; 
    max-width: 1200px; /* Limit the width of the navbar */
    /* margin: 0 auto; */
}

/* Style for the logo */
.logo h1 {
    font-size: 24px; /* Adjust the font size */
}

/* Style for the navigation links */
.nav-links {
    list-style: none; /* Remove default list styles */
}

.nav-links li {
    display: inline; /* Display list items horizontally */
    margin-right: 20px; /* Add some space between items */
}

.nav-links li a {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underline from links */
    transition: color 0.3s; /* Add smooth color transition */
}

.nav-links li a:hover {
    color: #ff9900; /* Change color on hover */
}
.navbar img{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-right: 100%;
}